<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>HP</key>
		<integer>45</integer>
		<key>Damage</key>
		<integer>40</integer>
		<key>spriteNormal</key>
		<string>Enemy3.png</string>
		<key>spriteShooting</key>
		<string></string>
	</dict>
	<dict>
		<key>HP</key>
		<integer>15</integer>
		<key>Damage</key>
		<integer>10</integer>
		<key>spriteNormal</key>
		<string>Enemy0.png</string>
		<key>spriteShooting</key>
		<string></string>
	</dict>
	<dict>
		<key>HP</key>
		<integer>110</integer>
		<key>Damage</key>
		<integer>50</integer>
		<key>spriteNormal</key>
		<string>Enemy1.png</string>
		<key>spriteShooting</key>
		<string></string>
	</dict>
	<dict>
		<key>HP</key>
		<integer>35</integer>
		<key>Damage</key>
		<integer>25</integer>
		<key>spriteNormal</key>
		<string>Enemy2.png</string>
		<key>spriteShooting</key>
		<string></string>
	</dict>
	<dict>
		<key>HP</key>
		<integer>45</integer>
		<key>Damage</key>
		<integer>40</integer>
		<key>spriteNormal</key>
		<string>Enemy3.png</string>
		<key>spriteShooting</key>
		<string></string>
	</dict>
</array>
</plist>
