<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>HP</key>
		<integer>15</integer>
		<key>Damage</key>
		<integer>5</integer>
		<key>spriteNormal</key>
		<string>enemyLeftToRight.png</string>
		<key>spriteShooting</key>
		<string></string>
	</dict>
	<key>1</key>
	<dict>
		<key>HP</key>
		<integer>25</integer>
		<key>Damage</key>
		<integer>15</integer>
		<key>spriteNormal</key>
		<string>enemyRightToLeft.png</string>
		<key>spriteShooting</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>HP</key>
		<integer>35</integer>
		<key>Damage</key>
		<integer>25</integer>
		<key>spriteNormal</key>
		<string>enemyRightToLeft.png</string>
		<key>spriteShooting</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>HP</key>
		<integer>45</integer>
		<key>Damage</key>
		<integer>40</integer>
		<key>spriteNormal</key>
		<string>enemyLeftToRight.png</string>
		<key>spriteShooting</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>HP</key>
		<integer>55</integer>
		<key>Damage</key>
		<integer>50</integer>
		<key>spriteNormal</key>
		<string>enemyRightToLeft.png</string>
		<key>spriteShooting</key>
		<string></string>
	</dict>
</dict>
</plist>
