<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Enemies</key>
		<array>
			<dict>
				<key>time</key>
				<integer>28</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>4</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>26</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>3</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>24</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>2</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>22</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>1</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>18</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>3</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>16</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>2</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>14</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>1</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>10</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>2</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>8</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>1</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>4</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>1</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>2</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>1</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Enemies</key>
		<array>
			<dict>
				<key>time</key>
				<integer>28</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>4</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>26</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>3</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>24</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>2</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>22</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>1</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>18</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>3</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>16</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>2</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>14</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>1</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>10</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>2</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>8</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>1</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>4</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>1</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>time</key>
				<integer>2</integer>
				<key>fret</key>
				<integer>0</integer>
				<key>string</key>
				<integer>1</integer>
				<key>enemyType</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
