<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level01</key>
	<dict>
		<key>enemies</key>
		<dict>
			<key>0</key>
			<string>0</string>
			<key>1</key>
			<string>100</string>
			<key>2</key>
			<string>0</string>
			<key>3</key>
			<string>0</string>
			<key>4</key>
			<string>0</string>
			<key>5</key>
			<string>0</string>
		</dict>
		<key>minEnemies</key>
		<integer>0</integer>
		<key>maxEnemies</key>
		<integer>5</integer>
		<key>minTime</key>
		<integer>3</integer>
		<key>maxTime</key>
		<integer>6</integer>
	</dict>
	<key>level02</key>
	<dict>
		<key>enemies</key>
		<dict>
			<key>0</key>
			<string>0</string>
			<key>1</key>
			<string>100</string>
			<key>2</key>
			<string>0</string>
			<key>3</key>
			<string>0</string>
			<key>4</key>
			<string>0</string>
			<key>5</key>
			<string>0</string>
		</dict>
		<key>minEnemies</key>
		<integer>1</integer>
		<key>maxEnemies</key>
		<integer>5</integer>
		<key>minTime</key>
		<integer>2</integer>
		<key>maxTime</key>
		<integer>5</integer>
	</dict>
	<key>level03</key>
	<dict>
		<key>enemies</key>
		<dict>
			<key>0</key>
			<string>0</string>
			<key>1</key>
			<string>100</string>
			<key>2</key>
			<string>0</string>
			<key>3</key>
			<string>0</string>
			<key>4</key>
			<string>0</string>
			<key>5</key>
			<string>0</string>
		</dict>
		<key>minEnemies</key>
		<integer>1</integer>
		<key>maxEnemies</key>
		<integer>5</integer>
		<key>minTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>4</integer>
	</dict>
	<key>level04</key>
	<dict>
		<key>enemies</key>
		<dict>
			<key>0</key>
			<string>0</string>
			<key>1</key>
			<string>100</string>
			<key>2</key>
			<string>0</string>
			<key>3</key>
			<string>0</string>
			<key>4</key>
			<string>0</string>
			<key>5</key>
			<string>0</string>
		</dict>
		<key>minEnemies</key>
		<integer>1</integer>
		<key>maxEnemies</key>
		<integer>5</integer>
		<key>minTime</key>
		<integer>0</integer>
		<key>maxTime</key>
		<integer>3</integer>
	</dict>
	<key>level05</key>
	<dict>
		<key>enemies</key>
		<dict>
			<key>0</key>
			<string>0</string>
			<key>1</key>
			<string>100</string>
			<key>2</key>
			<string>0</string>
			<key>3</key>
			<string>0</string>
			<key>4</key>
			<string>0</string>
			<key>5</key>
			<string>0</string>
		</dict>
		<key>minEnemies</key>
		<integer>1</integer>
		<key>maxEnemies</key>
		<integer>5</integer>
		<key>minTime</key>
		<integer>0</integer>
		<key>maxTime</key>
		<integer>2</integer>
	</dict>
	<key>level06</key>
	<dict>
		<key>enemies</key>
		<dict>
			<key>0</key>
			<string>0</string>
			<key>1</key>
			<string>100</string>
			<key>2</key>
			<string>0</string>
			<key>3</key>
			<string>0</string>
			<key>4</key>
			<string>0</string>
			<key>5</key>
			<string>0</string>
		</dict>
		<key>minEnemies</key>
		<integer>1</integer>
		<key>maxEnemies</key>
		<integer>5</integer>
		<key>minTime</key>
		<integer>0</integer>
		<key>maxTime</key>
		<integer>2</integer>
	</dict>
	<key>level07</key>
	<dict>
		<key>enemies</key>
		<dict>
			<key>0</key>
			<string>0</string>
			<key>1</key>
			<string>100</string>
			<key>2</key>
			<string>0</string>
			<key>3</key>
			<string>0</string>
			<key>4</key>
			<string>0</string>
			<key>5</key>
			<string>0</string>
		</dict>
		<key>minEnemies</key>
		<integer>1</integer>
		<key>maxEnemies</key>
		<integer>5</integer>
		<key>minTime</key>
		<integer>0</integer>
		<key>maxTime</key>
		<integer>2</integer>
	</dict>
	<key>level08</key>
	<dict>
		<key>enemies</key>
		<dict>
			<key>0</key>
			<string>0</string>
			<key>1</key>
			<string>100</string>
			<key>2</key>
			<string>0</string>
			<key>3</key>
			<string>0</string>
			<key>4</key>
			<string>0</string>
			<key>5</key>
			<string>0</string>
		</dict>
		<key>minEnemies</key>
		<integer>1</integer>
		<key>maxEnemies</key>
		<integer>5</integer>
		<key>minTime</key>
		<integer>0</integer>
		<key>maxTime</key>
		<integer>2</integer>
	</dict>
	<key>level09</key>
	<dict>
		<key>enemies</key>
		<dict>
			<key>0</key>
			<string>0</string>
			<key>1</key>
			<string>100</string>
			<key>2</key>
			<string>0</string>
			<key>3</key>
			<string>0</string>
			<key>4</key>
			<string>0</string>
			<key>5</key>
			<string>0</string>
		</dict>
		<key>minEnemies</key>
		<integer>1</integer>
		<key>maxEnemies</key>
		<integer>5</integer>
		<key>minTime</key>
		<integer>0</integer>
		<key>maxTime</key>
		<integer>2</integer>
	</dict>
	<key>level10</key>
	<dict>
		<key>enemies</key>
		<dict>
			<key>0</key>
			<string>0</string>
			<key>1</key>
			<string>100</string>
			<key>2</key>
			<string>0</string>
			<key>3</key>
			<string>0</string>
			<key>4</key>
			<string>0</string>
			<key>5</key>
			<string>0</string>
		</dict>
		<key>minEnemies</key>
		<integer>1</integer>
		<key>maxEnemies</key>
		<integer>5</integer>
		<key>minTime</key>
		<integer>0</integer>
		<key>maxTime</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
