<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Damage</key>
		<integer>50</integer>
		<key>Sprite</key>
		<string>Missile.gif</string>
	</dict>
	<dict>
		<key>Damage</key>
		<integer>10</integer>
		<key>Sprite</key>
		<string>Projectile.png</string>
	</dict>
	<dict>
		<key>Damage</key>
		<integer>10</integer>
		<key>Sprite</key>
		<string>Projectile.png</string>
	</dict>
	<dict>
		<key>Damage</key>
		<integer>10</integer>
		<key>Sprite</key>
		<string>Projectile.png</string>
	</dict>
</array>
</plist>
